[submodule "lib/winston-format-remove-telegram-apitoken"]
	path = lib/winston-format-remove-telegram-apitoken
	url = https://github.com/sunafterrainwm/winston-format-remove-telegram-apitoken.git
	branch = master
