name: Build Test

on:
  push:
    branches: [master]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - uses: pnpm/action-setup@v2

    - uses: actions/setup-node@v4
      with:
        cache: 'pnpm'
        
    - name: Install dependencies
      run: pnpm install

    - name: Create temp config
      run: cp config/config.example.mts config/config.mts

    - name: Lint
      run: pnpm run lint

    - name: Build
      run: pnpm run build
